<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155087500-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-155087500-1");
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Culinary Tour</title>
  <link rel="stylesheet" href="./css/style-inwoo.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="bts__top">
    <img class="bts__top__logo" src="./img/kandy.svg" alt="캔디로고" />
    <img class="menu-bar" src="./img//menubar.svg" />
  </div>

  <div class="bts__explanations">
    <div class="words">
      Check the information of
    </div>
    <div class="words2">
      the taste of Korea!
    </div>

    <img src="./img/line.svg" alt="파란선" />
  </div>

  <div class="members">
    <div class="align_rows">
      <a href="https://kandytok-v2.herokuapp.com/post/bulgogi">
        <div class="members__align">
          <div class="circle"><img src="/img/bulgogi.png" alt=""></div>
          <div class="circle-word">
            Bulgogi
          </div>
        </div>
      </a>

      <a href="https://kandytok-v2.herokuapp.com/post/hotteok">
        <div class="members__align">
          <div class="circle"><img src="/img/hotteok.png" alt=""></div>
          <div class="circle-word">
            Hotteok
          </div>
        </div>
      </a>


    </div>
    <div class="align_rows">
      <a href="https://kandytok-v2.herokuapp.com/post/sundubu">
        <div class="members__align">
          <div class="circle"><img src="/img/sundubu.png" alt=""></div>
          <div class="circle-word">
            Sundubu-jjigae
          </div>
        </div>
      </a>


      <a href="https://kandytok-v2.herokuapp.com/post-long/kfc">
        <div class="members__align">
          <div class="circle"><img src="/img/kfc.png" alt=""></div>
          <div class="circle-word">
            KFC
          </div>
        </div>
      </a>


    </div>
    <div class="align_rows">
      <a href="https://kandytok-v2.herokuapp.com/post/contemporary">
        <div class="members__align">
          <div class="circle"><img src="/img/contemporary.png" alt=""></div>
          <div class="circle-word">
            Contemporary
          </div>
        </div>
      </a>


      <a href="https://kandytok-v2.herokuapp.com/post/toongcaron">
        <div class="members__align">
          <div class="circle"><img src="/img/toongcaron.png" alt=""></div>
          <div class="circle-word">
            Toong-caron
          </div>
        </div>
      </a>


    </div>
  </div>
  <!-- Channel Plugin Scripts -->
  <!-- <script>
      (function() {
        var w = window;
        if (w.ChannelIO) {
          return (window.console.error || window.console.log || function() {})(
            "ChannelIO script included twice."
          );
        }
        var d = window.document;
        var ch = function() {
          ch.c(arguments);
        };
        ch.q = [];
        ch.c = function(args) {
          ch.q.push(args);
        };
        w.ChannelIO = ch;
        function l() {
          if (w.ChannelIOInitialized) {
            return;
          }
          w.ChannelIOInitialized = true;
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://cdn.channel.io/plugin/ch-plugin-web.js";
          s.charset = "UTF-8";
          var x = document.getElementsByTagName("script")[0];
          x.parentNode.insertBefore(s, x);
        }
        if (document.readyState === "complete") {
          l();
        } else if (window.attachEvent) {
          window.attachEvent("onload", l);
        } else {
          window.addEventListener("DOMContentLoaded", l, false);
          window.addEventListener("load", l, false);
        }
      })();
      ChannelIO("boot", {
        pluginKey: "2510c841-9fc6-4537-a0c9-52d3dfa88db3"
      });
    </script> -->
  <!-- End Channel Plugin -->
</body>

</html>