* {
  margin: 0;
  padding: 0;
}

body {
  width: 375px;
}

.kpop__top {
  margin-top: 24px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.kpop__top img {
  margin-left: 130px;
}

.backspace {
  /* width: 7.5px;
  height: 14.9px; */
  text-decoration: none;
  margin-left: 34.6px;
}

.explanations {
  margin-left: 34px;
  margin-top: 43px;
}
.explanations p {
  font-weight: bold;
}

.celebrities {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.celebrities__align {
  /* width: 112px;
  height: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

.celebrities__align a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.celebrities__align p {
  text-align: center;
}

.name {
  width: 40px;
  height: 17px;
  margin-top: 3px;
}

/* .circle {
  width: 112px;
  height: 112px;
  border: solid 1px;
  border-radius: 50%;
  margin-bottom: 5px;
} */

.circle img {
  width: 112px;
  height: 112px;
  border: solid 1px #707070;
  border-radius: 50%;
  margin-bottom: 5px;
}

/* bts.html */

.bts__top {
  display: flex;
  align-items: center;
}
.bts__top__logo {
  margin-top: 24px;
  margin-left: 33px;
}
.bts__top .menu-bar {
  margin-top: 24px;
  margin-left: 250px;
}

.bts__explanations {
  margin-left: 34px;
  margin-top: 67px;
}

.bts__explanations p {
  font-weight: bold;
}

.members {
  margin-top: 36px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align_rows {
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 33px;
}

.align_rows a {
  text-decoration: none;
  color: black;
}

.members__align {
  width: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.members__align p {
  text-align: center;
}

/* historical.html */

.spot__align {
  width: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spot_align_rows {
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 93px;
}

.spot_align_rows a {
  text-decoration: none;
  color: black;
}

.align__titles {
  /* margin-top: 62px; */
  margin-bottom: 46px;
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.align__titles p {
  font-weight: bold;
}

.main-content {
  margin-top: 62px;
}

/* post.html */

.img_frame {
  margin-top: 22px;
  margin-bottom: 26px;
}

.img_frame img {
  width: 375px;
}
.content {
  width: 375px;
}
.content_title {
  margin-left: 34px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.content p {
  margin-top: 16px;
  width: 307px;
  margin-left: 34px;
}

.content-words {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  word-break: break-all;
  margin-left: 34px;
}

.circle-word {
  font-size: 15px;
  color: #3b3b3b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.words {
  margin-top: 56px;
  font-size: 15pt;
  word-break: break-all;
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #3b3b3b;
}

/* information */

.words2 {
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  color: #3b3b3b;
}

.circle-word-center {
  font-size: 15px;
  color: #3b3b3b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-left: 44px;
}

.circle-word-center-twice {
  font-size: 15px;
  color: #3b3b3b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-left: 38px;
}

.center-words-historical {
  font-family: "Roboto", sans-serif;
  color: #3b3b3b;
  font-weight: 700;
}

.circle-word-history {
  font-size: 15px;
  color: #3b3b3b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.circle-word-natural {
  font-size: 15px;
  color: #3b3b3b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-left: 37px;
}
